<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ABC | Generic Company</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" />
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="abccontainer">
<header>
<div class="content">
	<div class="logo">
		<a href="#"><img src="/static/images/abc-logo.png" alt="ABC | Generic Company" /></a>
	</div>
	<div class="right-block pull-right">
		<div class="abc-jewlers pull-left">
			<a href="#"><img src="/static/images/abc-jewelers.png" alt="ABC | Jewelers" /></a>
		</div>
		<div class="user-area pull-left">
			<ul>
				<li class="user-photo ">
					<img src="/static/images/johnanderson.png" alt="ABC | Jewelers" />
				</li>
				<li class="user-name">John<span> Anderson</span>					
				</li>
			</ul>
		</div>
			<div class="nav-right">		
						<nav>	
						
						<div class="menu_collapse">
					<i class="fa fa-bars" id="swipeMenu"></i>
					<nav>
						<ul class="collapse_menu">
							<li class="home"><a href="#">Home</a></li>
									<li class="admin"><a href="#">Admin</a></li>
									<li class="logout"><a href="#">Logout Store</a></li>
									<li class="cls"><a href="">Close Menu</a></li>
						</ul>
					</nav>
				</div>		
								
						</nav> 
					</div>	
	</div>

	</div>
</header>
<section>
	<div class="content">
	<div class="associatediv">
		<h1 class="sliding-u-l-r-l-inverse">Select an associate</h1>
		<ul class="photo-grid">
			<li>
				<a href="#"><figure><span class="abc-photodiv">				
				<img src="/static/images/johnanderson.png" alt="John Anderson" />
				</span><span class="abc-namediv">John Anderson</span><figcaption><p><strong>JA</strong>0023</p></figcaption></figure></a>
			</li>
			<li>
				<a href="#"><figure><span class="abc-photodiv"><img src="/static/images/elizabethkelley.png" alt="Elizabeth Kelley" /></span><span class="abc-namediv">Elizabeth Kelley</span><figcaption><p>JA0024</p></figcaption></figure></a>
			</li>
			<li>
				<a href="#"><figure><span class="abc-photodiv"><img src="/static/images/ashleywilliams.png" alt="Ashley Williams" /></span><span class="abc-namediv">Ashley Williams</span><figcaption><p>JA0025</p></figcaption></figure></a>
			</li>
			<li>
				<a href="#"><figure><span class="abc-photodiv"><img src="/static/images/no-name.png" alt="ABC | Generic Company" /></span><span class="abc-namediv">Marcus Wilson</span><figcaption><p>JA0026</p></figcaption></figure></a>
			</li>
			<li>
				<a href="#"><figure><span class="abc-photodiv"><img src="/static/images/rebeccamertens.png" alt="Rebecca Mertens" /></span><span class="abc-namediv">Rebecca Mertens</span><figcaption><p>JA0027</p></figcaption></figure></a>
			</li>
			<li>
				<a href="#"><figure><span class="abc-photodiv"><img src="/static/images/no-name.png" alt="ABC | Generic Company" /></span><span class="abc-namediv">Spencer Harris</span><figcaption><p>JA0028</p></figcaption></figure></a>
			</li>
			<li>
				<a href="#"><figure><span class="abc-photodiv"><img src="/static/images/judyrodgers.png" alt="Rudy Rodgers" /></span><span class="abc-namediv">Judy Rodgers</span><figcaption><p>JA0029</p></figcaption></figure></a>
			</li>
			<li>
				<a href="#"><figure><span class="abc-photodiv"><img src="/static/images/no-name.png" alt="ABC | Generic Company" /></span><span class="abc-namediv">Caroline Berg</span><figcaption><p>JA0023</p></figcaption></figure></a>
			</li>
		</ul>
	</div>
		
	</div>
</section>
<script src="/static/js/jquery-1.11.3.js" type="text/javascript"></script>
<script>
	$( document ).ready(function() {
	$('#swipeMenu').click(function(e) {
	if($('#swipeMenu').hasClass('active')) {
	$('#swipeMenu').removeClass('active');
	$('.cls').removeClass('active');
	$('.collapse_menu').slideUp(400);
	}else {
	$(this).addClass('active');
	$('.collapse_menu').slideDown(400);
	}
	e.stopPropagation();
	});
	windowHeight = $(window).height();
			console.log(windowHeight-90);
	 	 	$('.collapse_menu').css('min-height',windowHeight-90);
	});
	/**click function for remove item**/
		$(document).on('click', '.abc-close-icon', function() {
		    $($(this).parent().parent().parent()).remove();
		});
		$(document).on("click",".cls", function(){
			var parentDiv = $(this).parent().parent().find('.collapse_menu');
			$('.collapse_menu').slideUp(400);
			if($('#swipeMenu').hasClass('active')) {
				$('#swipeMenu').removeClass('active');
			}
		});
	$(document).on("click", function() {
		$('.cls').click(function(e) {
			var parentDiv = $(this).parent().parent().find('.collapse_menu');
			$(parentDiv).css( "display", "none" );
			$('.collapse_menu').slideUp(400);
		});
	});
</script>

	
</body>

</html>