{% extends 'admin_base.html' %}
{% block title %}Registration{% endblock %}
{% block section_class %}common_wrapper registration {% endblock %}
{% block content %}
<div class="content">
    <div class="product-list clearfix">
        <h2>Store Registration Form</h2>

        <div class="">
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle"><span>1</span></a>

                        <p>Account Details</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle"
                           disabled="disabled"><span>2</span></a>

                        <p>Store Details</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle last-one"
                           disabled="disabled"><span>3</span></a>

                        <p>Confirmation</p>
                    </div>
                </div>
            </div>
            <form role="form" id="store_signup_form" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" name="account_type" value="sign-up"/>
                <div class="row setup-content" id="step-1">
                    <div class="col-md-12">
                        <h3>Account Details</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">First name </label>
                                    <input type="text" rel="text" name="first_name" placeholder="First name..."
                                           class="form-first-name form-control" id="first_name">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Last name </label>
                                    <input type="text" rel="text" name="last_name" placeholder="Last name..."
                                           class="form-first-name form-control" id="last_name">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">User name </label>
                                    <input type="text" rel="text" name="username" placeholder="User name..."
                                           class="form-first-name form-control" id="user_name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Email Address</label>
                                    <input type="text" rel="email" name="email" placeholder="Email..."
                                           class="form-first-name form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input type="password" rel="password" name="password1" placeholder="Password..."
                                           class="form-first-name form-control" id="password">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Confirm password</label>
                                    <input type="password" rel="password" name="password2"
                                           placeholder="Confirm password..." class="form-first-name form-control"
                                           id="confirm_password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 continue_bttn clearfix">
                                <button type="button" onclick=isNextValidForm('next1') class="btn nextBtn btn-primary pull-right"
                                        >Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row setup-content" id="step-2">
                    <div class="col-md-12">
                        <h3>Store Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Store Name </label>
                                    <input type="text" rel="store_name" name="store_name" placeholder="Store Name..."
                                           class="form-first-name form-control" id="store_name">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Jeweler ID</label>
                                    <input type="text" rel="text" name="jew_id" placeholder="Jeweler ID..."
                                           class="form-first-name form-control" id="jew_id">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">LearLabs Account #</label>
                                    <input type="text" rel="text" name="lear_lab_ID" placeholder="LearLabs Account #..."
                                           class="form-first-name form-control" id="lear_lab_ID">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Website </label>
                                    <input type="text" rel="website" name="website" placeholder="Website..."
                                           class="form-first-name form-control" id="website">
                                </div>

                                <div class="form-group row">
                                <label class="control-label col-md-12">Upload Store Logo</label>

                                <div class="filestyle col-md-6 btn btn-default">
                                <span>Upload Store Logo</span>
                                <input rel="file" type="file" name="store_pic" class="store_img_upload">
                                </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Street Address</label>
                                    <textarea name="store_address" rel="text" id="address"  placeholder="Street Address.."
                                              class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">City</label>
                                    <input type="text" rel="text" name="city" placeholder="City..."
                                           class="form-first-name form-control" id="city">
                                </div>
                                 <div class="form-group">
                                    <label class="control-label">State</label>
                                    <input type="text" rel="text" name="state" placeholder="State..."
                                           class="form-first-name form-control" id="state">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Zip Code</label>
                                    <input type="text" rel="text" name="zip_code" placeholder="Zip Code..."
                                           class="form-first-name form-control" id="zip_code">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Country </label>
                                    {{store_acc_profile_form.country }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Store Phone</label>
                                    <input type="text" rel="phone" name="phone" placeholder="Store Phone..."
                                           class="form-first-name form-control" id="phone">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 continue_bttn clearfix">
                                <button type="button" onclick="isNextValidForm('next2');" class="btn nextBtn btn-primary pull-right">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row setup-content" id="step-3">
                    <div class="">
                        <div class="col-md-12 padTop30">
                            <h3 class="text-center">Confirm</h3>
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="col-md-8 col-md-offset-4">
                                        <img src="/static/images/jewellery_8m0Bxb9.jpg" class="store_img" alt="No image"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>Name<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p>
                                                        <span class="store_details_first_name">__</span>&nbsp;
                                                        <span class="store_details_last_name">__</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                             <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>Username<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_username">__</p>
                                                </div>
                                             </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>Email<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_email">__</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>Store Name<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_store_name">__</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>Jeweler ID<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_jwl_id">__</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>LearLabs Account<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_learlab_id">__</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>Website<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_website">__</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>Street Address<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_address">__</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>City<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                     <p class="store_details_city">__</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>State<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_state">__</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>Zip Code<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_zipcode">__</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>Country<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_country">United States</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-3">
                                                    <p>Store Phone<span class="pull-right">:</span></p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-9">
                                                    <p class="store_details_phone">__</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="text-center">
                                <button class="btn btn-success btn-lg" type="submit">Save!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script>
            $(document).on("change",".store_img_upload", function(){
                 readURL(this);
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.store_img').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(document).on("change","#first_name", function(){
                 $('.store_details_first_name').html($(this).val());
            });
            $(document).on("change","#last_name", function(){
                 $('.store_details_last_name').html($(this).val());
            });
            $(document).on("change","#user_name", function(){
                 $('.store_details_username').html($(this).val());
            });
            $(document).on("change","#email", function(){
                 $('.store_details_email').html($(this).val());
            });
            $(document).on("change","#store_name", function(){
                 $('.store_details_store_name').html($(this).val());
            });
            $(document).on("change","#jew_id", function(){
                 $('.store_details_jwl_id').html($(this).val());
            });
            $(document).on("change","#lear_lab_ID", function(){
                 $('.store_details_learlab_id').html($(this).val());
            });
            $(document).on("change","#website", function(){
                 $('.store_details_website').html($(this).val());
            });
            $(document).on("change","#address", function(){
                 $('.store_details_address').html($(this).val());
            });
            $(document).on("change","#city", function(){
                 $('.store_details_city').html($(this).val());
            });
            $(document).on("change","#state", function(){
                 $('.store_details_state').html($(this).val());
            });
            $(document).on("change","#zip_code", function(){
                 $('.store_details_zipcode').html($(this).val());
            });
            $(document).on("change","#id_country", function(){
                 $('.store_details_country').html($("#id_country option:selected").text());
            });
            $(document).on("change","#phone", function(){
                 $('.store_details_phone').html($(this).val());
            });

			$(document).ready(function () {
				var navListItems = $('div.setup-panel div a'),
					allWells = $('.setup-content'),
					allNextBtn = $('.nextBtn');
				allWells.hide();

				navListItems.click(function (e) {
					e.preventDefault();
					var $target = $($(this).attr('href')),
						$item = $(this);
					if (!$item.hasClass('disabled')) {
						navListItems.removeClass('btn-primary').addClass('btn-default');
						$item.addClass('btn-primary');
						allWells.hide();
						$target.show();
						$target.find('input:eq(0)').focus();
					}
				});

		allNextBtn.click(function(){
					var regexPhone =  /^[\s()+-]*([0-9][\s()-]*){6,20}$/;
					var regexEmail = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
					var curStep = $(this).closest(".setup-content"),
						curStepBtn = curStep.attr("id"),
						nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
						curInputs = curStep.find("select,textarea,input[type='text'],input[type='file'],input[type='password']"),
						isValid = true;
					$(".form-group").removeClass("has-error");

						/*


					for(var i=0; i<curInputs.length; i++){
						var fieldInput =curInputs[i];
						var relation = $(fieldInput).attr("rel");
						console.log(relation);
						var valueInput = $(fieldInput).val();
						if(relation == "text"){
							if (!valueInput.length){
								isValid = false;
								$(curInputs[i]).closest(".form-group").addClass("has-error");
							}
						}else if(relation == "email"){
							console.log(1);
							if (!regexEmail.test(valueInput)) {
								isValid = false;
								$(curInputs[i]).closest(".form-group").addClass("has-error");
							}
						} else if(relation == "password"){
							var confirm_password = $('#confirm_password').val();
							var password = $('#password').val();
							if(confirm_password != password  || !valueInput.length){
								isValid = false;
								$(curInputs[i]).closest(".form-group").addClass("has-error");
							}
						} else if(relation == "phone"){
							if (!regexPhone.test(valueInput)) {
								isValid = false;
								$(curInputs[i]).closest(".form-group").addClass("has-error");
							}
						}
					}

					*/




					var email_status = false;
                    var email  = $('#email').val();
                  /*  $.ajax({
                        url: "{% url 'associate-field-check' %}",
                        type: 'POST',
                        data:{ accociate_email: email },
                        async: false,
                        success: function(response) {
                            if (response.email_status){
                                email_status = false;
                            }
                            else {
                               email_status = true;
                                $('#email').closest(".form-group").addClass("has-error");
                            }
                        }
                    }); */
                    /*
                    if(email_status) {
                        isValid = false;
                         $('#email').closest(".form-group").addClass("has-error");
                    }

                    var user_name_status = false;
                    var user_name  = $('#user_name').val();
                    $.ajax({
                        url: "{% url 'associate-field-check' %}",
                        type: 'GET',
                        data:{ accociate_user_name: user_name },
                        async: false,
                        beforeSend: function(){
                                   console.log('ajax call start');
                                },
                        success: function(response) {
                            if (response.user_name_status){
                                user_name_status = false;
                            }
                            else {
                              user_name_status = true;
                            }
                        }
                    });
                    */
                    /*if(user_name_status) {
                        isValid = false;
                        $('#user_name').closest(".form-group").addClass("has-error");
                   }

					if (isValid){nextStepWizard.removeAttr('disabled').trigger('click');}
					*/
				});

				$('div.setup-panel div a.btn-primary').trigger('click');

			});





function isNextValidForm(next)  {
       form_data = $('#store_signup_form').serialize()+"&acc_type=store&next="+next;
       allNextBtn = $('.nextBtn');
       $( ".server_error" ).remove();
       var curStep = $(allNextBtn).closest(".setup-content"),
	   curStepBtn = curStep.attr("id"),
       nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a");		$.ajax({
                  url: "{% url 'associate-field-check' %}",
                        type: 'POST',
                        data:form_data,
                        async: false,
                        success: function(response) {
                            if (response.acc_form_status==true && response.next=='next1')
                          {

                                allNextBtn.click(function(){
                                nextStepWizard.removeAttr('disabled').trigger('click');
                                                            });
                          }
                            else if (response.acc_form_status==false && response.next=='next1')

                            {
                            $.each( response.acc_form_errors, function( field_name, error )
                             {
                                        var field_parent_selector = $("input[name="+field_name+"]").parent();
                                        $(field_parent_selector).after("<div class='server_error' style='color:red;'>"+error+"</div>");                                      ;

                             });

                            }

                            if (response.store_profile_status==false && response.next=='next2')
                            {

                            $.each( response.store_profile_form_errors, function( field_name, error )
                             {



                             if (field_name=='store_address')
                             {
                                     var field_parent_selector = $("textarea[name="+field_name+"]").parent();
                                     $(field_parent_selector).after("<div class='server_error' style='color:red;'>"+error+"</div>");
                             }

                              if (field_name=='country')
                             {
                                     var field_parent_selector = $("select[name="+field_name+"]").parent();
                                     $(field_parent_selector).after("<div class='server_error' style='color:red;'>"+error+"</div>");
                             }
                                        var field_parent_selector = $("input[name="+field_name+"]").parent();
                                        $(field_parent_selector).after("<div class='server_error' style='color:red;'>"+error+"</div>");                                      ;

                             });

                            }

                            else if (response.store_profile_status==true && response.next=='next2')
                                {
                                allNextBtn.click(function(){
                                $('a.btn.btn-default.btn-circle.last-one').removeAttr('disabled').trigger('click');
                                                            });
                                }

                        }
                    });


			}



</script>
{% endblock %}