<div class="descriptnDiv" id="settings_view">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:void(0)" style="float:right;" title="Edit" id="settings_edit"><i
                                    class="fa fa-pencil"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="row">
                                <p class="boldhead"> Settings</p>

                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <p>Store name<span class="pull-right">:</span></p>

                                    <p>Jewellery ID<span class="pull-right">:</span></p>

                                    <p>LearLab ID<span class="pull-right">:</span></p>

                                    <p>City<span class="pull-right">:</span></p>

                                    <p>State<span class="pull-right">:</span></p>

                                    <p>Country<span class="pull-right">:</span></p>

                                    <p>Phone number<span class="pull-right">:</span></p>

                                    <p>Zip code<span class="pull-right">:</span></p>

                                    <p>Address<span class="pull-right">:</span></p>


                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8">
                                    <p>{{ user.store_acc_profile.store_name }}</p>

                                    <p>{{ user.store_acc_profile.jew_id }}</p>

                                    <p>{{ user.store_acc_profile.lear_lab_ID }}</p>

                                    <p>{{ user.store_acc_profile.city }}</p>

                                    <p>{{ user.store_acc_profile.state }}</p>

                                    <p>{{ user.store_acc_profile.country }}</p>

                                    <p>{{ user.store_acc_profile.phone }}</p>

                                    <p>{{ user.store_acc_profile.zip_code }}</p>

                                    <p>{{ user.store_acc_profile.store_address }}</p>


                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                </div>